.error {
  background: #fb3e44;
  letter-spacing: 0.2px;
  color: white;
  padding: 40px;
  border: 2px solid white;
}

.sunUnhappy {
  width: 100px;
  animation: sun-unhappy 1.2s;
  animation-iteration-count: 1;
  transform: rotate(180deg);
}

@keyframes sun-unhappy {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}