.overlay {
  height: 100vh;
  background: #070b34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.overlayContent {
  height: 50vh;
  width: 75vw;
  color: white;
}